{% extends "_admin_base.html" %}
{% load staticfiles %}
{% block headerpagetitle %}Home Page{% endblock headerpagetitle %}

{% block headerbread %}
{% endblock headerbread %}

{% block styles %}

{% endblock styles %}

{% load crispy_forms_tags %}

{% block extrahead %}
{% endblock extrahead %}

{% block shopifyhead %}
{% endblock shopifyhead %}

{% block extra_messages %}
{% endblock %}

{% block body %}

content

{% endblock %}

{% block beaconsuggest %}
{% endblock beaconsuggest %}

{% block scripts %}

{% endblock %}